body{
    background-image: url("images/background-img.png");
    overflow: hidden;
}

h1{
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
}

button{
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: #333333;
    color: white;
    border: none;
    cursor: pointer;
    margin : 1rem 0;
}
#bird{
    position: absolute;
    width: 75px;
    height: 75px;
    /* center the bird */
    /*top: 50%;*/
    left: 50%;
    /*transform: translate(-50%, -50%);*/
    background-image: url("images/Bird.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes movePipes {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-140vw);
    }
}


.pipe{
    position: absolute;
    width: 100px;
    height: 200vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 250px;
    left: 120vw;
    animation: linear movePipes 12s;
}

.up{
    top: 0;
    height: 100vh;
    width: 100%;
    background: green;
}

.down{
    bottom: 0;
    height: 100vh;
    width: 100%;
    background: green;
}
